<article class="quote">
  <div class="title">
    <a href="{{quote_url}}" target="_blank">{{title}}</a>
    <span>({{format_url quote_url}})</span>
  </div>
  <div class="meta">
    {{like_count}}
    {{dislike_count}}
    {{format_plural "liked" like_count}}
    {{format_plural "disliked" dislike_count}}
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href="/quote/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>