<article class="quote">
  <div class="title">
    <a href="{{quote.quotes_url}}" target="_blank">{{quote.text}}</a>
    {{!-- <span>({{quote.quotes_url}})</span> --}}
  </div>
  <div class="meta">
    {{like_count}}

    {{format_plural "liked" like_count}}

    by
    {{user.username}}
    on
    {{quote.created_at}}
    |
    <a href="/quotes/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>