<article>
  <a href="/createquote"> &larr; Lets go back to the quotes</a>
  <h2>
    Edit Quote
  </h2>
  <form class="edit-quote-form">
    <div>
      <input name="quote-title" type="text" value="{{quote.title}}" />
      <span>({{format_url quote.quote_url}})</span>
    </div>
    <div>
      {{!-- {{quote.like_count}}
      {{format_plural "likes" quote.like_count}} --}}
      likes
      {{format_date quote.created_at}}
      |
      <a href="/quotes/{{quote.id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </div>
    <button type="submit">Save Quote</button>
    <button type="button" class="delete-quote-btn">Delete Quote</button>
  </form>
</article>